<div class="dropdown-menu">
  <nav>
    <a (click)="showUnregisteredProfile($event)">
      <img src="../../../assets/icons/sun-regular.svg" alt="icono sol">
      Mi perfil
    </a>
    <a routerLink="#">
      <img src="../../../assets/icons/sun-regular.svg" alt="icono sol">
      Mis pedidos
    </a>
    <a (click)="showRegisteredWithDiscount($event)">
      <img src="../../../assets/icons/sun-regular.svg" alt="icono sol">
      Descuentos
    </a>
    <a routerLink="#">
      <img src="../../../assets/icons/sun-regular.svg" alt="icono sol">
      Cupones
    </a>
  </nav>

  <div class="count-buttons">
    <button routerLink="login">
      Iniciar sesión
    </button>
    <button routerLink="register">
      Registrarme
    </button>
  </div>
</div>