<div class="dropdown-menu">

  <nav>
    <a routerLink="unregistered-profile">
      <img src="../../../assets/icons/sun-regular.svg" alt="icono sol">
      Mi perfil
    </a>
    <a routerLink="#">
      <img src="../../../assets/icons/sun-regular.svg" alt="icono sol">
      Mis pedidos
    </a>
    <a routerLink="#">
      <img src="../../../assets/icons/sun-regular.svg" alt="icono sol">
      Descuentos
    </a>
    <a routerLink="#">
      <img src="../../../assets/icons/sun-regular.svg" alt="icono sol">
      Cupones
    </a>
  </nav>

  <div class="count-buttons">
    <button routerLink="login">
      Iniciar sesión
    </button>
    <button routerLink="register">
      Registrarme
    </button>
  </div>

</div>
