.register-container {
    margin-top: 34px;
    text-align: center;
  
    .input-container {
      width: max-content;
      margin: auto;

      label {
        display: block;
        text-align: left;
      }
  
      input {
        border-radius: 10px;
        margin-bottom: 25px;
      }
    }
    button {
      width: 248px;
      height: 34px;
      margin-top: 82px;
      background-color: red;
    }
  }