<div class="master-container">

  <h1>Mi perfil</h1>

  <!-- Si no está logueado -->
  <div class="general-container" *ngIf="!isLogged">

    <h2 class="h2-login">
      Debes tener una sesión iniciada para acceder a tu perfil.
    </h2>

    <img class="img-login" src="../../../../../assets/images/No login.png" alt="no login">

    <div class="buttons-container">
      <button class="log-in">
        Iniciar sesion
      </button>
      <button class="register">
        Registrarme
      </button>
    </div>

  </div>

  <!-- Si está logueado -->

  <div class="general-container" *ngIf="isLogged">
    <div class="icono-editar-container">
      <button (click)="abrirModal()">
        <img src="../../../../../assets/icons/Edit.svg" alt="icono edit">
      </button>
    </div>
    <div class="img-nombre-container">
      <div class="imagen-perfil">
        <img src="../../../../../assets/images/Ellipse 92.svg" alt="foto de perfil">
      </div>
      <div class="nombre-perfil">
        <h2>Carlitos</h2>
      </div>
    </div>
    <div class="datos-personales-container container">
      <h3 class="container" >Datos personales</h3>
      <div class="datos-personales container">

        <h4>Carlitos</h4>
        <label for="nombre">Nombre</label>

        <h4>Calle falsa 123</h4>
        <label for="direccion">Dirección</label>

        <h4>Carlitostuki@gmail.com</h4>
        <label for="mail">Mail</label>

        <h4>11 6515 6514</h4>
        <label for="telefono">Teléfono</label>

      </div>
    </div>
  </div>
</div>