<div class="master-container">

  <h1>Mi perfil</h1>

  <!-- Si no está logueado -->
  <div class="general-container" *ngIf="!isLogged">

    <h2 class="h2-login">
      Debes tener una sesión iniciada para acceder a tu perfil.
    </h2>

    <img class="img-login" src="../../../../../assets/images/No login.png" alt="no login">

    <div class="buttons-container">
      <button class="log-in">
        Iniciar sesion
      </button>
      <button class="register">
        Registrarme
      </button>
    </div>

  </div>

  <!-- Si está logueado -->

  <div class="general-container" *ngIf="isLogged">
    <div class="icono-editar-container">
      <img src="../../../../../assets/icons/Edit.svg" alt="icono edit">
    </div>
    <div class="img-nombre-container">
      <div class="imagen-perfil">
        <img src="../../../../../assets/images/User image.svg" alt="foto de perfil">
      </div>
      <div class="nombre-perfil">
        <h2>Carlitos</h2>
      </div>
    </div>
    <div class="datos-personales-container">
      <h3>Datos personales</h3>
      <div class="datos-personales">
        <input type="text" id="nombre">
        <label for="nombre">Nombre</label>

        <input type="text" id="direccion">
        <label for="direccion">Dirección</label>

        <input type="email" id="mail">
        <label for="mail">Mail</label>

        <input type="number" id="telefono">
        <label for="telefono">Teléfono</label>
      </div>
    </div>
  </div>
</div>