.register-container {

  text-align: center;

  min-height: calc(100vh - 3rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  img {
    width: 165px;
    height: 165px;
    border-radius: 15px;
  }

  .input-container {
    width: max-content;
    margin: auto;

    input {
      width: 315px;
      height: 48px;
      border-radius: 15px;
      padding-left: 16px;
      border: 1px solid #444444;
    }
  }

  button {
    all: unset;
    width: 127px;
    height: 40px;
    background-color: #E9573A;
    border-radius: 100px;

    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
  }

  a {
    height: 40px;
    display: block;
    text-decoration: none;
    color: #E9573A;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;

  }

  .btn-continue {
    all: unset;
    width: 205px;
    height: 40px;
    background: #F4AB9D;
    border-radius: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #2C0B05;

    img {
      width: 12px;
      height: 12px;
      margin-right: 8px;
    }
  }

  p {
    height: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #555555;
    margin-left: 16px;
  }
}
