<header>

  <mat-toolbar>
    <!-- <mat-icon class="mat-icon-button" [matMenuTriggerFor]="menu">
      <img class="burgerMenuIcon" src="../../../assets/icons/bars-solid.svg" alt="icono">
    </mat-icon>
    <mat-menu #menu="matMenu">
      <a routerLink="../menu">Cupones</a>
      <a routerLink="../login">Login</a>
    </mat-menu> -->

    <img class="logo" src="../../assets/images/logo.jpg" alt="logo">

    <mat-icon class="mat-icon-button" [matMenuTriggerFor]="menu">
      <img class="burgerMenuIcon" src="../../../assets/icons/bars-solid.svg" alt="icono">
    </mat-icon>
    <mat-menu #menu="matMenu">
      <ul>
        <li>
      <button>
        <a routerLink="../menu">Cupones</a>
      </button>
        </li>
        <li>
      <button>
        <a routerLink="../login">Login</a>
      </button>
        </li>
      </ul>


      
    </mat-menu>

  </mat-toolbar>

</header>