body {
    overflow-x: hidden;

}
header {

    width: auto;
    height: 119px;
    display: flex;
    // align-items: center;
    justify-content: space-between;
    background-color: red;

    .left-burger-menu {

        button {
            background-color: red;
            margin: 90px 0 12.33px 33px;
            border: none;

            .left-icon {
                width: 27.24px;
                height: 26px;
            }
        }

        .left-dropdown-menu {

            position: absolute;
            top: 119px;
            left: 0;
            bottom: 0;
            right: 98px;
            background-color: pink;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            transition: all ease-out .5s;
            transform: translateX(-100%);
            z-index: 999;

            &.active-left {
                transform: translateX(0);
                // display: flex;
                z-index: 999;
            }

            .mi-perfil {
                margin-top: 42px;
            }

            a {
                text-decoration: none;
                color: black;
                font-size: 24px;
                margin-top: 26px;

                img {
                    width: 24px;
                    height: 24px;
                    margin-left: 29px;
                    margin-right: 13px;
                }
            }

            .button-menu-login {
                background-color: white;
                width: 248px;
                height: 34px;
                margin: 349px 22px 26px 25px;
                border-radius: 7px;

            }

            .button-menu-register {
                background-color: white;
                width: 248px;
                height: 34px;
                margin: 0 22px 51px 25px;
                border-radius: 7px;
            }
        }


    }
}

.logo {

    height: 119px;
    border-radius: 50%;
}

.right-burger-menu {

    button {
        background-color: red;
        margin: 85px 39.76px 8px 0;
        border: none;

        .right-icon {
            width: 27.24px;
            height: 26px;
        }
    }

    .right-dropdown-menu {

        position: absolute;
        top: 119px;
        left: 98px;
        bottom: 0;
        right: 0;
        background-color: pink;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all ease-out .5s;
        transform: translateX(100%);
        z-index: 999;

        &.active-right {
            transform: translateX(0);
            // display: flex;
            z-index: 999;
        }

        .products-shopping-cart {

            .minus-plus-icon {
                width: 10px;
            }

                .title {
                    position: absolute;
                    width: 67px;
                    height: 29px;
                    left: 123px;
                    top: 159px;

                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 29px;
                }

                .description {
                    position: absolute;
                    width: 156px;
                    height: 58px;
                    left: 123px;
                    top: 197px;

                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 18px;

                }

                .price {
                    position: absolute;
                    width: 65px;
                    height: 24px;
                    left: 303px;
                    top: 162px;

                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                }

                .add-or-remove-products {

                    position: absolute;
                    width: 39px;
                    height: 29px;
                    left: 329px;
                    top: 182px;

                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 29px;
                    

                    .minus-plus-icon {
                        width: 10px;

                    }
                }
        }
    }
}