<header>
  <div class="left-burger-menu">
    <button (click)="toggleLeftBurguer()">
      <img class="left-icon" src="../../../assets/icons/bars-solid.svg" alt="icono menu izquierdo">
    </button>
    <div class="left-dropdown-menu" [class.active]="showLeftBurguer">
      <a routerLink="#" class="mi-perfil" href="#" (click)="toggleLeftBurguer()"><img src="../../../assets/icons/sun-regular.svg" alt="icono sol">Mi perfil</a>
      <a routerLink="#" (click)="toggleLeftBurguer()"><img src="../../../assets/icons/sun-regular.svg" alt="icono sol">Mis pedidos</a>
      <a routerLink="#" (click)="toggleLeftBurguer()"><img src="../../../assets/icons/sun-regular.svg" alt="icono sol">Descuentos</a>
      <a routerLink="#" (click)="toggleLeftBurguer()"><img src="../../../assets/icons/sun-regular.svg" alt="icono sol">Cupones</a>

        <button routerLink="login" class="button-menu-login" (click)="toggleLeftBurguer()">Iniciar sesión</button>
        <button routerLink="register" class="button-menu-register" (click)="toggleLeftBurguer()">Registrarme</button>
    </div>
  </div>
  <img class="logo" src="../../assets/images/logo.jpg" alt="logo">
  <div class="right-burger-menu">
    <button>
      <img class="right-icon" src="../../../assets/icons/cart-shopping-solid.svg" alt="icono menu derecho">
    </button>
    <div class="right-dropdown-menu">

    </div>
  </div>
</header>