@import '../../../styles.scss';

header {
  width: auto;
  height: $header-height;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: end;
  z-index: 20;
  background-color: red;

  .hamburger-menu {
    background-color: red;
    margin: 90px 0 12.33px 33px;
    border: none;

    .left-icon {
      width: 27.24px;
      height: 26px;
    }
  }

  .logo {
    height: 120px;
    border-radius: 50%;
  }

  .cart-button {

    background-color: transparent;
    border: none;

    img {
      width: 30px;
      height: 30px;
    }
  }
}
