header {
  width: auto;
  height: 120px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: end;
  z-index: 20;
  background-color: red;

  .logo {
    height: 120px;
    border-radius: 50%;
  }

  .cart-button {

    background-color: transparent;
    border: none;

    img {
      width: 30px;
      height: 30px;
    }
  }
}
