@import '../../../styles.scss';

header {
  width: auto;
  height: $header-height;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  background-color: red;
  border-bottom: 3px solid rgba(125, 0, 0, 0.5);

  .logo {
    height: $header-height;
    border-radius: 50%;
  }

  button {
    margin: 5px 20px;
    background-color: transparent;
    border: none;

    img {
      width: 30px;
      height: 30px;
    }
  }

}
