<div class="registered-profile">
    <div class="img-name-share">
        <img class="img-profile" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/85a954df-43b3-4b66-9e8d-94fe01b0451f/da9k0wb-1ae6c8d8-0b1f-46db-a6c9-3f9b44fc29bc.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzg1YTk1NGRmLTQzYjMtNGI2Ni05ZThkLTk0ZmUwMWIwNDUxZlwvZGE5azB3Yi0xYWU2YzhkOC0wYjFmLTQ2ZGItYTZjOS0zZjliNDRmYzI5YmMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ySQkI8GmpoOQ3KvsCwlwXd1l_QjJ7DsuqmcGP9fwnsE" alt="imagen de perfil">
        <h1>Ash Ketchup</h1>
        <img class="icon-share" src="../../../../assets/icons/share-from-square-solid.svg" alt="icono de compartir">
    </div>

    <div class="personal-data">
        <h2>Datos personales</h2>
        <img class="icon-share" src="../../../../assets/icons/share-from-square-solid.svg" alt="icono de compartir">
        <h3>Nombre</h3>
        <p>Ash Ketchup</p>
        <h3>Mail</h3>
        <p>pikapika@gmail.com</p>
        <h3>Dirección</h3>
        <p>Pueblo Paleta</p>
        <h3>Teléfono</h3>
        <p>11 6515 6514</p>
    </div>

</div>
