
.login-container {
  padding-top: 2.8125rem;
  text-align: center;
  min-height: calc(100vh - 3rem);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .logo {
    width: 10.3125rem;
    height: 10.3125rem;
    border-radius: 0.9375rem;
  }

  .input-container {
    width: max-content;
    margin: auto;

    label {
      display: block;
      text-align: left;
    }

    input {
      width: 19.6875rem;
      height: 3rem;
      border-radius: 0.9375rem;
      padding-left: 1rem;
      border: 0.0625rem solid #444444;
    }

  }

  .btn-login {
    width: 8.375rem;
    height: 2.5rem;
    background-color: #E9573A;
    border-radius: 6.25rem;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.00625rem;
    color: #FFFFFF;
    border: none;
  }

  a {
    height: 2.5rem;
    display: block;
    text-decoration: none;
    color: #E9573A;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.00625rem;

  }

  .btn-continue {
    width: 12.8125rem;
    height: 2.5rem;
    background: #F4AB9D;
    border-radius: 6.25rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #2C0B05;
    border: none;

    img {
      margin-right: 0.5rem;
    }
  }

  p {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.025rem;
    color: #555555;
  }
}
