.example-container mat-form-field+mat-form-field {
  margin-left: 8px;
}

.login-container {
  margin-top: 45px;
  text-align: center;

  .logo {
    width: 165px;
    height: 165px;
    border-radius: 15px;
    margin-top: 59px;
    margin-bottom: 70px;
  }

  .input-container {
    width: max-content;
    margin: auto;
    label {
      display: block;
      text-align: left;
    }

    input {
      width: 315px;
      height: 56px;

      border-radius: 15px;
      margin-bottom: 15px;
      padding-left: 16px;
    }

    #input-mail {
    }
  }
  .btn-login {
    width: 134px;
    height: 40px;
    // margin-top: 30px;
    margin-bottom: 70px;
    background-color: #E9573A;
    border-radius: 100px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
  }

  // .linea {
  //   width: 271px;
  //   height: 0;
  //   margin: auto;
  //   margin-bottom: 60px;
  //   border-top: 2px solid;
  // }

  a {
    height: 40px;
    display: block;
    text-decoration: none;
    color: #E9573A;
    margin-bottom: 15px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;

  }

  .btn-continue {
    all: unset;
    margin-bottom: 92px;
    width: 205px;
    height: 40px;
    background: #F4AB9D;
    border-radius: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #2C0B05;

    img {
      width: 11.69px;
      height: 11.38px;
      color: #2C0B05;
      margin-right: 8px;
    }
  }

  p {
    width: 361px;
    height: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;    
    color: #555555;
    margin-left: 16px;
  }
}