
.login-container {
  padding-top: 45px;
  text-align: center;
  min-height: calc(100vh - 3rem);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .logo {
    width: 165px;
    height: 165px;
    border-radius: 15px;
  }

  .input-container {
    width: max-content;
    margin: auto;

    label {
      display: block;
      text-align: left;
    }

    input {
      width: 315px;
      height: 48px;
      border-radius: 15px;
      padding-left: 16px;
      border: 1px solid #444444;
    }

  }

  .btn-login {
    width: 134px;
    height: 40px;
    background-color: #E9573A;
    border-radius: 100px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    border: none;
  }

  a {
    height: 40px;
    display: block;
    text-decoration: none;
    color: #E9573A;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;

  }

  .btn-continue {
    width: 205px;
    height: 40px;
    background: #F4AB9D;
    border-radius: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #2C0B05;
    border: none;

    img {
      margin-right: 8px;
    }
  }

  p {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #555555;
  }
}
