@import '../../../styles.scss';

.menu-container {
  width: 100vw;
  min-height: calc(100vh - $header-height);
  position: fixed;
  top: calc($header-height - var(--scrollTop));
  left: 0px;
  bottom: 0px;
  z-index: 10;
  background-color: pink;
  // border: 1px solid #ccc;

  &.is-hidden{
    display: none;
  }
}
