<div class="menu-container" [class.is-hidden]="isHidden">
  <app-hamburger-menu *ngIf="selectedComponent == hamburgerMenu"></app-hamburger-menu>
  <!-- <app-unregistered-profile *ngIf="selectedComponent == unregisteredProfile"></app-unregistered-profile> -->
  <app-registered-profile *ngIf="selectedComponent == registeredProfile"></app-registered-profile>
  <app-my-orders *ngIf="selectedComponent == myOrders"></app-my-orders>
  <app-coupons *ngIf="selectedComponent == coupons"></app-coupons>
  <app-unregistered-discount *ngIf="selectedComponent == unregisteredDiscount"></app-unregistered-discount>

</div>
