<div class="master-container">

  <h1>Mis pedidos</h1>

  <!-- Si no está logueado -->
  <div class="general-container" *ngIf="!isLogged">

    <h2 class="h2-login">
      Debes tener una sesión iniciada para acceder a tus pedidos.
    </h2>

    <img class="img-login" src="../../../../../assets/images/No login.png" alt="no login">

    <div class="buttons-container">
      <button class="log-in">
        Iniciar sesion
      </button>
      <button class="register">
        Registrarme
      </button>
    </div>

  </div>

  <!-- Si está logueado pero no tiene pedidos -->
  <div class="general-container" *ngIf="isLogged && !hasOrders">

    <h2 class="h2-sin-pedidos">
      Todavía no realizaste un pedido
    </h2>

    <img class="img-sin-pedidos" src="../../../../../assets/images/Empy.svg" alt="sin pedidos imagen">

    <div class="buttons-container">
      <button class="log-in">
        Nuevo pedido
      </button>
    </div>

  </div>

  <!-- Si está logueado y tiene pedidos -->
  <div class="general-container" *ngIf="isLogged && hasOrders">

    <app-order *ngFor="let order of [1, 2, 3]"></app-order>

  </div>
  

</div>
