<div class="container">
  <div class="row">
    <div class="col-6 productos">

      <div class="row pb-4">
        <div class="col-6">
          <app-producto (productoEmmiter)="seleccionarProducto($event)"></app-producto>
        </div>
        <div class="col-6">
          <app-producto (productoEmmiter)="seleccionarProducto($event)"></app-producto>
        </div>
      </div>

      <div class="row pb-4">
        <div class="col-4">
          <app-producto (productoEmmiter)="seleccionarProducto($event)"></app-producto>
        </div>
        <div class="col-4">
          <app-producto (productoEmmiter)="seleccionarProducto($event)"></app-producto>
        </div>
        <div class="col-4">
          <app-producto (productoEmmiter)="seleccionarProducto($event)"></app-producto>
        </div>
      </div>

      <div class="row pb-4">
        <div class="col-4">
          <app-producto (productoEmmiter)="seleccionarProducto($event)"></app-producto>
        </div>
        <div class="col-4">
          <app-producto (productoEmmiter)="seleccionarProducto($event)"></app-producto>
        </div>
        <div class="col-4">
          <app-producto (productoEmmiter)="seleccionarProducto($event)"></app-producto>
        </div>
      </div>

    </div>

    <div class="col-6 detalles">
      <app-detalles [producto]="productoSeleccionado"></app-detalles>
    </div>

  </div>
</div>
