

<ng-container *ngIf="products.length != 0; else elseBlock">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Imagen</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; index as i">
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.image}}</td>
        <td>{{product.price}}</td>
        <td>{{product.stock}}</td>
        <td class="d-flex gap-2">
          <button class="btn btn-warning btn-sm" (click)="btnActualizar(i)">
            <span class="material-icons">edit</span>
          </button>
          <button class="btn btn-danger btn-sm" (click)="btnEliminar(i)">
            <span class="material-icons">delete</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>

<ng-template #elseBlock>
  <p>No hay productos</p>
</ng-template>

<button class="btn btn-primary" (click)="btnCrear()">Crear</button>
