<div class="products-shopping-cart">

  <!-- Titulo y descripcion -->
  <div class="container-title-description">
    <span class="title h1">Titulo</span>
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas corporis odio.</p>
  </div>

  <!-- Precio y cantidad -->
  <div class="container-price-quantity">
    <span class="price h1">$4000</span>
    <div class="container-quantity">
      <button class="buttons-minus-plus">-</button>
      <span class="count h1">0</span>
      <button class="buttons-minus-plus">+</button>
    </div>
  </div>
</div>
