<div class="login-container">
  <div class="input-container">
    <label for="input-mail">Mail</label>
    <input id="input-mail" type="email" required>
  </div>
  <div class="input-container">
    <label for="input-password">Contraseña</label>
    <input id="input-password" type="password" required>
  </div>
  <button type="submit">Iniciar sesión</button>
  <div class="linea"></div>
  <a href="#">¿No tenés cuenta?</a>
  <a class="a-registrarme" href="#"><strong>Registrarme</strong></a>
  <a href="#"><strong>No recuerdo mi clave</strong></a>
</div>