<ng-container *ngIf="producto; else sinProducto">

  <div class="card p-2">
    <button class="btn btn-light mi-boton" type="button" (click)="volver()" *ngIf="mostrarBtnVolver">
      <span class="material-icons">arrow_back</span>
    </button>
    <img class="card-img-top" [src]="producto.image" [alt]="producto.name">
    <div class="card-body">
      <h5 class="card-title">{{producto.name}}</h5>
      <p><small class="card-text">{{producto.description}}</small></p>

      <form>

        <p class="h3 subtitulo">Size</p>

        <div class="form-check d-flex">
          <label class="flex-grow-1 text-start" for="exampleRadios1">
            <p class="h5 subtitulo">List item</p>
            <p class="descripcion">Supporting text</p>
          </label>
          <input class="form-check-input flex-grow-0 text-end" type="radio" name="exampleRadios" id="exampleRadios1"
            value="option1">
        </div>
        <div class="form-check d-flex">
          <label class="flex-grow-1 text-start" for="exampleRadios2">
            <p class="h5 subtitulo">List item</p>
            <p class="descripcion">Supporting text</p>
          </label>
          <input class="form-check-input flex-grow-0 text-end" type="radio" name="exampleRadios" id="exampleRadios2"
            value="option">
        </div>


        <p class="h3 subtitulo">Tritle add</p>

        <div class="form-check d-flex">
          <label class="flex-grow-1 text-start" for="exampleCheckbo1">
            <p class="h5 subtitulo">List item</p>
            <p class="descripcion">Supporting text</p>
          </label>
          <input class="form-check-input flex-grow-0 text-end" type="checkbox" value="" id="exampleCheckbo1">
        </div>
        <div class="form-check d-flex">
          <label class="flex-grow-1 text-start" for="exampleCheckbo2">
            <p class="h5 subtitulo">List item</p>
            <p class="descripcion">Supporting text</p>
          </label>
          <input class="form-check-input flex-grow-0 text-end" type="checkbox" value="" id="exampleCheckbo2">
        </div>
        <div class="form-check d-flex">
          <label class="flex-grow-1 text-start" for="exampleCheckbo3">
            <p class="h5 subtitulo">List item</p>
            <p class="descripcion">Supporting text</p>
          </label>
          <input class="form-check-input flex-grow-0 text-end" type="checkbox" value="" id="exampleCheckbo3">
        </div>

      </form>


      <div class="contenedor-padre">
        <div class="contenedor-cantidad-producto">
          <div class="btn btn-cantidad-producto">
            <button class="btn btn-light" (click)="menos()">
              <span class="material-icons">remove</span>
            </button>
            <span>{{cantidad}}</span>
            <button class="btn btn-light" (click)="mas()">
              <span class="material-icons">add</span>
            </button>
          </div>
        </div>
        <div class="contenedor-agregar-producto">
          <button class="btn btn-danger btn-agregar-producto">Agregar ${{producto.price}}</button>
        </div>
      </div>
    </div>
  </div>

</ng-container>
<ng-template #sinProducto>
  <div class="sin-producto">
    <span class="h2">¡Elegí lo que mas te tiente!</span>
    <img src="../../../../assets/images/detalle-sin-producto-seleccionado.svg" alt="detalle sin producto seleccionado">
  </div>
</ng-template>
