<div class="register-container">
    <div class="input-container">
        <label for="input-name">Nombre</label>
        <input id="input-name" type="text" required>
      </div>
      <div class="input-container">
        <label for="input-lastname">Apellido</label>
        <input id="input-lastname" type="text" required>
      </div>
    <div class="input-container">
      <label for="input-mail">Mail</label>
      <input id="input-mail" type="email" required>
    </div>
    <div class="input-container">
      <label for="input-password">Contraseña</label>
      <input id="input-password" type="password" required>
    </div>
    <div class="input-container">
        <label for="input-repeat-password">Repetir contraseña</label>
        <input id="input-repeat-password" type="password" required>
      </div>
    <button type="submit">Registrarme</button>
  </div>
