<div class="master-container">

  <h1>Cupones</h1>

  <!-- Si no está logueado -->
  <div class="general-container" *ngIf="!isLogged">

    <h2 class="h2-login">
      Debes tener una sesión iniciada para acceder a los cupones.
    </h2>

    <img class="img-login" src="../../../../../assets/images/No login.png" alt="no login">

    <div class="buttons-container">
      <button class="log-in">
        Iniciar sesion
      </button>
      <button class="register">
        Registrarme
      </button>
    </div>

  </div>

  <!-- Si está logueado pero no tiene pedidos -->
  <div class="general-container" *ngIf="isLogged && !hasOrders">

    <img class="img-sin-cupon" src="../../../../../assets/images/No cupons.png" alt="sin cupones">

    <div class="buttons-container">
      <button class="log-in">
        Agregar cupón
      </button>
    </div>

  </div>

  <!-- Si está logueado y tiene pedidos -->
  <div class="general-container" *ngIf="isLogged && hasOrders">

    <h2 class="h2-con-pedidos">Recomendaciones</h2>

    <div class="btns-coupons-container">


      <button class="coupon-container-main" [ngClass]="{'active': isActive}" (click)="toggleActive()">
        <h2>-50%</h2>

        <div class="detalle-btn-container">
          <p>Valido del 25/03 hasta el 25/05 de 2023</p>
          <button>¡Usar!</button>
        </div>

      </button>

      <div class="coupon-container-grid">
        <button class="coupon-card" [ngClass]="{'active': isActive1}" (click)="toggleActive1()">
          <h2>-50%</h2>
          <p>Valido del 25/03 hasta el 25/05 de 2023</p>
          <button>¡Usar!</button>
  
        </button>
  
        <button class="coupon-card" [ngClass]="{'active': isActive2}" (click)="toggleActive2()">
          <h2>-50%</h2>
          <p>Valido del 25/03 hasta el 25/05 de 2023</p>
          <button [disabled]="isDisabled" disabled="true">¡Usar!</button>
  
        </button>
  
        <button class="coupon-card" [ngClass]="{'active': isActive3}" (click)="toggleActive3()">
          <h2>-50%</h2>
          <p>Valido del 25/03 hasta el 25/05 de 2023</p>
          <button [disabled]="isDisabled" disabled="true">¡Usar!</button>
  
        </button>
  
        <button class="coupon-card" [ngClass]="{'active': isActive4}" (click)="toggleActive4()">
          <h2>-50%</h2>
          <p>Valido del 25/03 hasta el 25/05 de 2023</p>
          <button [disabled]="isDisabled" disabled="true">¡Usar!</button>
  
        </button>
      </div>

    </div>

    <div class="buttons-container">
      <button class="log-in" (click)="abrirModal()" >
        Agregar cupón
      </button>
    </div>

  </div>

  <p class="help">¿Cómo obtengo cupones?</p>

</div>
