<div class="master-container">

  <h1>Cupones</h1>

  <!-- Si no está logueado -->
  <div class="general-container" *ngIf="!isLogged">

    <h2>
      Debes tener una sesión iniciada para acceder a los cupones.
    </h2>

    <img class="img-login" src="../../../../../assets/images/No login.png" alt="no login">

    <div class="buttons-container">
      <button class="log-in">
        Iniciar sesion
      </button>
      <button class="register">
        Registrarme
      </button>
    </div>

  </div>

  <!-- Si está logueado pero no tiene pedidos -->
  <div class="general-container" *ngIf="isLogged && !hasOrders">

    <img class="img-sin-cupon" src="../../../../../assets/images/No cupons.png" alt="sin cupones">

    <div class="buttons-container">
      <button class="log-in">
        Agregar cupón
      </button>
    </div>

  </div>

  <!-- Si está logueado y tiene pedidos -->
  <div class="general-container" *ngIf="isLogged && hasOrders">

    <p>¿Quieres agregar otro cupón?</p>
    <button class="add-cupon" >Agregar</button>

    <p class="title">Cupones</p>

    <app-cupon *ngFor="let order of [1, 2, 3]"></app-cupon>

    <button class="use-coupon">Usar cupón</button>

  </div>

  <p class="help">¿Cómo obtengo cupones?</p>

</div>
