@import '../../../../../styles.scss';

// * {
//   border: 1px solid red;
// }

.dropdown-menu {
  width: 100%;
  height: calc(100% - $header-height);
  // padding: 30px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  background: #FDEEEB;
  border: none;
  border-radius: 0;
  

  nav {
    display: flex;
    flex-direction: column;

    button {
      all: unset;
      cursor: pointer;
      width: 16.25rem;
      height: 3.5rem;
      margin: 0 1rem;
      // padding: 1rem 0.625rem;
      gap: 0.625rem;
      color: black;
      font-size: 1rem;
      font-family: Roboto;
      font-weight: 500;
      line-height: 1.5rem;
      letter-spacing: 0.00938rem;
      // border: 1px solid red;

      img {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 0.62rem;
      }
    }
  }

  .container-buttons {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    // margin-bottom: 3.12rem;


    .session {
      all: unset;
      // width: 8.375rem;
      // height: 2.5rem;
      padding: 0.625rem 1.5rem;
      color: #E9573A;
      text-align: center;
      font-size: 0.875rem;
      font-family: Roboto;
      font-weight: 700;
      line-height: 1.25rem;
      letter-spacing: 0.00625rem;
    }

    .register {
      all: unset;
      // width: 7.9375rem;
      // height: 2.5rem;
      padding: 0.625rem 1.5rem;
      border-radius: 100px;
      background: var(--sys-primary, #E9573A);
      color: var(--sys-on-primary, #FFF);
      text-align: center;
      font-size: 0.875rem;
      font-family: Roboto;
      font-weight: 700;
      line-height: 1.25rem;
      letter-spacing: 0.00625rem;
    }
  }
}
