@import '../../../../../styles.scss';

.dropdown-menu {
  width: 100%;
  height: 100%;
  padding-bottom: calc($header-height + 1rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  background: #FDEEEB;
  border: none;
  border-radius: 0;


  nav {
    display: flex;
    flex-direction: column;

    button {
      all: unset;
      cursor: pointer;
      width: 16.25rem;
      height: 3.5rem;
      margin: 0 1rem;
      gap: 0.625rem;
      color: black;
      font-size: 1rem;
      font-family: Roboto;
      font-weight: 500;
      line-height: 1.5rem;
      letter-spacing: 0.00938rem;

      img {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 0.62rem;
      }
    }
  }

  .container-buttons {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .session {
      all: unset;
      padding: 0.625rem 1.5rem;
      color: #E9573A;
      text-align: center;
      font-size: 0.875rem;
      font-family: Roboto;
      font-weight: 700;
      line-height: 1.25rem;
      letter-spacing: 0.00625rem;
    }

    .register {
      all: unset;
      padding: 0.625rem 1.5rem;
      border-radius: 100px;
      background: var(--sys-primary, #E9573A);
      color: var(--sys-on-primary, #FFF);
      text-align: center;
      font-size: 0.875rem;
      font-family: Roboto;
      font-weight: 700;
      line-height: 1.25rem;
      letter-spacing: 0.00625rem;
    }
  }
}
