<ng-container *ngIf="categorias.length != 0; else elseBlock">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Imagen</th>
      <th scope="col">Productos</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categorias; index as i">
      <td>{{category.name}}</td>
      <td>{{category.image}}</td>
      <td>
        <ul>
          <li>{{category.products[i]}}</li>
        </ul>
      </td>
      <td>
        <ul>
          <li (click)="btnActualizar()">Actualizar</li>
          <li (click)="btnEliminar()">Eliminar</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
</ng-container>

<ng-template #elseBlock>
  <p>No hay categorias</p>
</ng-template>

<button class="btn btn-primary" (click)="btnCrear()">Crear</button>
