<div>
  <!-- Cuando no está registrado -->
  <div *ngIf="!isRegistered" class="unregistered-discount-container">
    <h1>Descuentos</h1>
    <div class="paragraph-container">
      <p>Debes tener una sesión iniciada para acceder a los descuentos.</p>
    </div>

    <img class="img-no-login" src="../../../../../assets/images/No login.png" alt="no login">

    <div class="btns-container">
      <button routerLink="login" class="login-btn">Iniciar sesión</button>
      <a routerLink="register" class="register-btn">Registrarme</a>
      <a class="discounts">¿Cómo obtengo descuentos?</a>
    </div>
  </div>

  <!-- Cuando estás registrado pero no tenés descuento -->
  <div *ngIf="isRegistered && !hasDiscounts" class="registered-no-discount-container">
    <h1>Descuentos</h1>
    <!-- <div class="paragraph-container">
    </div> -->

    <img class="img-no-discount" src="../../../../../assets/images/No cupons.png" alt="no login">

    <div class="btns-container">
      <a class="discounts">¿Cómo obtengo descuentos?</a>
    </div>
  </div>

  <!-- Registrado con descuentos -->

  <div *ngIf="isRegistered && hasDiscounts" class="registered-with-discount-container">
    <h1>Descuentos</h1>

    <div class="btns-discount-container">
      <button class="discount-container-main" [ngClass]="{'active': isActive}" (click)="toggleActive()">
        <h2>-50%</h2>

        <div class="detalle-btn-container">
          <p>Valido del 25/03 hasta el 25/05 de 2023</p>
          <button>¡Usar!</button>
        </div>

      </button>

      <div class="discount-container-grid">
        <button class="discount-card" [ngClass]="{'active': isActive1}" (click)="toggleActive1()">
          <h2>-50%</h2>
          <p>Valido del 25/03 hasta el 25/05 de 2023</p>
          <button>¡Usar!</button>
  
        </button>
  
        <button class="discount-card" [ngClass]="{'active': isActive2}" (click)="toggleActive2()">
          <h2>-50%</h2>
          <p>Valido del 25/03 hasta el 25/05 de 2023</p>
          <button [disabled]="isDisabled" disabled="true">¡Usar!</button>
  
        </button>
  
        <button class="discount-card" [ngClass]="{'active': isActive3}" (click)="toggleActive3()">
          <h2>-50%</h2>
          <p>Valido del 25/03 hasta el 25/05 de 2023</p>
          <button [disabled]="isDisabled" disabled="true">¡Usar!</button>
  
        </button>
  
        <button class="discount-card" [ngClass]="{'active': isActive4}" (click)="toggleActive4()">
          <h2>-50%</h2>
          <p>Valido del 25/03 hasta el 25/05 de 2023</p>
          <button [disabled]="isDisabled" disabled="true">¡Usar!</button>
  
        </button>
      </div>


    </div>

    <div class="btns-footer-container">
      <a href="#">¿Cómo obtengo descuentos?</a>
    </div>
  </div>

</div>