nav {
  gap: 2rem;

  .contenedor-imagen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    .categoria-nombre {
      padding-left: 1rem
    }

    .imagen-naranja {
      filter: invert(47%) sepia(52%) saturate(4360%) hue-rotate(340deg) brightness(97%) contrast(88%);
    }

    img {
      width: 2rem;
      height: 2rem;
    }

  }
}

@media (width < 550px) {
  nav {
    gap: 0.5rem;

    .contenedor-imagen {
      flex-direction: column;

      .categoria-nombre {
        padding-left: 0;
        display: block;
      }
    }
  }
}
