<div class="row">
  <div [ngClass]="esCelular ? 'col-sm-12' : 'col-md-6'">
    <div class="panel-izquierdo">
      <div class="cabecera" (click)="categoriaSeleccionada('ofertas')">
        <img src="../../../assets/images/altavoz.svg" alt="altavoz">
        <span>PROMOS</span>
        <img src="../../../assets/images/altavoz-invertido.svg" alt="altavoz-invertido">
      </div>
      <div class="tarjeta tarjeta-1" (click)="categoriaSeleccionada('pizzas')">
        <img src="../../../assets/images/pizzero.svg" alt="foto-comida">
      </div>
      <div class="tarjeta tarjeta-2" (click)="categoriaSeleccionada('empanadas')">
        <img src="../../../assets/images/pizzero.svg" alt="foto-comida">
      </div>
      <div class="tarjeta tarjeta-3" (click)="categoriaSeleccionada('helados')">
        <img src="../../../assets/images/pizzero.svg" alt="foto-comida">
      </div>
      <div class="tarjeta tarjeta-4" (click)="categoriaSeleccionada('bebidas')">
        <img src="../../../assets/images/pizzero.svg" alt="foto-comida">
      </div>
    </div>
  </div>
  <div [ngClass]="esCelular ? 'col-sm-12' : 'col-md-6'">
    <p class="h5 mb-4">Recomendaciones</p>
    <div class="recomendaciones">
      <app-producto *ngFor="let repeticion of repeticiones"></app-producto>

      <!-- <div class="card" *ngFor="let repeticion of repeticiones">
        <img class="card-img-top p-2" src="../../../assets/images/pizzero.svg" alt="producto">
        <div class="card-body">
          <h5 class="card-title">Titulo</h5>
          <p class="card-text">Información</p>
          <p class="h3">$555</p>
        </div>
      </div> -->
    </div>
  </div>
</div>
