<div class="right-burger-menu">

  <!-- Boton del icono del carrito -->
  <button class="button-right-burger" (click)="toggleRightBurguer()">
    <img class="right-icon" src="../../../assets/icons/cart-shopping-solid.svg" alt="icono menu derecho">
  </button>

  <div class="right-dropdown-menu" [class.active-right]="showRightBurguer">

    <!-- Productos del carrito (futuro ngFor) -->
    <app-product-cart></app-product-cart>
    <app-product-cart></app-product-cart>
    <app-product-cart></app-product-cart>

    <!-- Botones -->
    <div class="buttons-right-container">
      <!-- Boton ir a pagar -->
      <button routerLink="login" class="button-menu-login" (click)="toggleRightBurguer()">Ir a pagar</button>
      <!-- Boton vaciar carrito -->
      <button routerLink="register" class="button-menu-register" (click)="toggleRightBurguer()">Vaciar carrito</button>
    </div>

  </div>
</div>
