.right-burger-menu {

  .button-right-burger {
    background-color: red;
    margin: 85px 39.76px 8px 0;
    border: none;

    .right-icon {
      width: 27.24px;
      height: 26px;
    }
  }

  .right-dropdown-menu {

    position: absolute;
    top: 119px;
    left: 98px;
    bottom: 0;
    right: 0;
    padding: 2rem 1rem;
    display: none;
    background-color: pink;
    transition: all ease-out .5s;
    transform: translateX(100%);
    z-index: 999;

    &.active-right {
      transform: translateX(0);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      z-index: 999;
    }

    .buttons-right-container {

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;


      .button-menu-login {
        background-color: white;
        border-radius: 7px;
      }

      .button-menu-register {
        background-color: white;
        border-radius: 7px;
      }
    }

  }
}
