<button class="card-container" [class.is-hidden]="isHidden" (click)="showOrderDetail($event)">

  <div class="state-date-price-product">
    <p>
      <span class="state">Entregado</span>
      <span class="point">•</span>
      <span class="date">15 de Junio</span>
    </p>

    <div class="less-info">

      <p class="price">$5000</p>

      <p class="products">3 Productos</p>

    </div>
  </div>

  <div class="vertical-container">
    <button class="repeat" (click)="repeat()">
      <img src="../../../../../../assets/icons/Repeat_1.svg" alt="repetir">
      Repetir
    </button>
  </div>


</button>