<!-- MODO CELULAR -->

<div class="movileVersion">
  <mat-accordion class="accordion-item" *ngFor="let product of products; index as productId">
    <mat-expansion-panel [expanded]="(productId == urlProductId)" (opened)="onOpenProduct()"
      (closed)="onCloseProduct()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{product.name}}
        </mat-panel-title>
        <mat-panel-description>
          <!-- Descripción -->
        </mat-panel-description>
      </mat-expansion-panel-header>

      <img [src]="product.image" width="200" height="200">
      <p class="h2">{{product.name}}</p>
      <p class="h6">{{product.description}}</p>

      <form>
        <p *ngFor="let detail of product.details; index as detailId">
          <input type="checkbox" [(ngModel)]="selectedDetails[detailId]" [ngModelOptions]="{standalone: true}">
          <span>{{detail.name}}</span>
        </p>
      </form>

      <ng-container *ngIf="product.discount == 0; else offer">
        <p class="h3">${{product.price}}</p>
      </ng-container>

      <ng-template #offer>
        <p>
          <span class="h3">${{product.price - (product.price * product.discount / 100)}}</span>
          <del class="h6">${{product.price}}</del>
        </p>
      </ng-template>

    </mat-expansion-panel>
  </mat-accordion>
</div>



<!-- MODO ESCRITORIO -->

<div class="desktopVersion container">
  <div class="menu">
    <div *ngFor="let product of products; index as productId">
      <div class="titleImage">
        <div class="descriptionBlock">
          <p class="h2">{{product.name}}</p>
          <p class="h6">{{product.description}}</p>
        </div>
        <div class="imageBlock">
          <img [src]="product.image" [alt]="product.name">
        </div>
      </div>
      <div class="priceSeeMore">

        <ng-container *ngIf="product.discount == 0; else offer">
          <p class="h3">${{product.price}}</p>
        </ng-container>

        <ng-template #offer>
          <p>
            <span class="h3">${{product.price - (product.price * product.discount / 100)}}</span>
            <del class="h6">${{product.price}}</del>
          </p>
        </ng-template>

        <button (click)="selectProduct(productId)">+</button>
      </div>
    </div>
  </div>
  <div class="product"> <!-- Probablemente este deba ser un nuevo componente -->

    <ng-container *ngIf="urlProductId != null">
      <img [src]="products[urlProductId].image">
      <p class="h1">{{products[urlProductId].name}}</p>
      <p class="h6">{{products[urlProductId].description}}</p>

      <form>
        <p *ngFor="let detail of products[urlProductId].details; index as detailId">
          <span>{{detail.name}}</span>
          <input type="checkbox" [(ngModel)]="selectedDetails[detailId]" [ngModelOptions]="{standalone: true}">
        </p>
      </form>

      <ng-container *ngIf="products[urlProductId].discount == 0; else offer">
        <button class="btn">
          Agregar al carrito ${{products[urlProductId].price}}
        </button>
      </ng-container>

      <ng-template #offer>
        <button class="btn">
          Agregar al carrito
          ${{products[urlProductId].price - (products[urlProductId].price *
          products[urlProductId].discount / 100)}}
          <del>${{products[urlProductId].price}}</del>
        </button>
      </ng-template>

      <!-- Funcionalidad cancelada por Jere. ¡GRACIAS JERE! -->
      <!-- <button (click)="shareProduct(urlProductId)">Compartir</button> -->

    </ng-container>

  </div>
</div>
