<div class="accordion-item" *ngFor="let product of products; index as i">
  <mat-accordion>
    <mat-expansion-panel [expanded]="(i == urlProductId)" (opened)="onOpenProduct(i)" (closed)="onCloseProduct(i)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{product.name}}
        </mat-panel-title>
        <mat-panel-description>
          <!-- Descripción -->
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem quis suscipit quam incidunt amet aperiam
        debitis expedita minus, accusamus soluta quibusdam culpa qui, corrupti fuga nostrum recusandae voluptas eum
        atque.</p>
      <img [src]="product.image" width="200" height="200">
      <p class="h3">${{product.price}}</p>

    </mat-expansion-panel>
  </mat-accordion>
</div>
