@import '../../../../styles.scss';

.menu-container {
  height: 100vh;
  padding-top: calc($header-height - var(--scrollTop));
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 10;
  background: var(--sys-background, #FEF7F5);
  transition: 0.2s;
  transition-timing-function: ease;

  &.is-hidden{
    width: 0;
  }
}


@media (max-width: 767px) {
  .menu-container {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .menu-container {
    width: 75vw;
  }
}

@media (min-width: 992px) {
  .menu-container {
    width: 50vw;
  }
}
